<div>
  <mat-card>
    <mat-card-title>Member {{parlament.PersonID}}</mat-card-title>
    <img mat-card-image [src]="parlament.PhotoURL" alt="parlament-photo">
    <mat-card-content>{{parlament.ParliamentaryName}}</mat-card-content>
    <mat-card-subtitle>{{parlament.BirthDate}}</mat-card-subtitle>
  </mat-card>
  <mat-card>
    <mat-card-content>Party</mat-card-content>
    <ul class="parties">
      <li>{{party["party"]}} | from {{party["startDate"]}}</li>
    </ul>
  </mat-card>
  <mat-card>
    <mat-card-content>Websites</mat-card-content>
    <ul class="websites">
      <li *ngFor="let website of websites">{{website}}</li>
    </ul>
  </mat-card>
</div>
