<div>
  <mat-card>
    <mat-card-title>Member {{parlament?.PersonID}}</mat-card-title>
    <img mat-card-image [src]="parlament?.PhotoURL" alt="parlament-photo">
    <mat-card-content>{{parlament?.ParliamentaryName}}</mat-card-content>
    <mat-card-subtitle>{{parlament?.BirthDate | customDate}}</mat-card-subtitle>
  </mat-card>
  <mat-card>
    <mat-card-content>Party</mat-card-content>
    <ul class="parties">
      <li *ngFor="let memberParty of memberParties">{{memberParty.PartyName}} | {{memberParty.ValidFromDate | customDate:"From"}} {{memberParty.ValidUntilDate | customDate:"To"}}</li>
    </ul>
  </mat-card>
  <mat-card>
    <mat-card-content>Websites</mat-card-content>
    <ul class="websites">
      <li *ngFor="let website of websites">
        <a [href]="website">{{website}}</a>
      </li>
    </ul>
  </mat-card>
</div>
