.mat-custom {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.parl-card {
  background: white;
  width: 80%;
  cursor: pointer;
}

/*
.parl-card:hover {
  border: 1px solid black;
}
*/

.parl-name {
  text-align: center;
}
