.mat-custom {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

mat-card {
  background: white;
  width: 80%;
  cursor: pointer;
}

mat-card-content {
  text-align: center;
}
