header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #d2d7d9;
}

.image-parl {
  margin-left: 32px;
  margin-right: auto;
}

.logo-parl {
  height: 50px;
  margin-right: auto;
}

.members-link-div {
  float: right;
  margin-top: 5px;
  margin-right: 32px;
}

a {
  text-decoration: none;
  color: black;
}

.members-logo-div {
  float: right;
}

.logo-memb {
  height: 25px;
}
