<div>
  <mat-card>
    <mat-card-title>Member {{member?.PersonID}}</mat-card-title>
    <img mat-card-image [src]="member?.PhotoURL" alt="parlament-photo">
    <mat-card-content>{{member?.ParliamentaryName}}</mat-card-content>
    <mat-card-subtitle>{{member?.BirthDate | customDate}}</mat-card-subtitle>
  </mat-card>
  <mat-card>
    <mat-card-content>Party</mat-card-content>
    <ul class="parties">
      <li *ngFor="let memberParty of memberParties">{{memberParty.PartyName}} | {{memberParty.ValidFromDate | customDate:"From"}} {{memberParty.ValidUntilDate | customDate:"To"}}</li>
    </ul>
  </mat-card>
  <mat-card>
    <mat-card-content>Websites</mat-card-content>
    <ul class="websites">
      <li *ngFor="let website of websites">{{website.WebURL}}</li>
    </ul>
  </mat-card>
</div>
